// INITIATE ALL VARIABLES

// CONSIST OF ALL BASIC SETUP, COLORS AND FONTS
@import "./reset";

// FONTS SETUP
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

// FUNCTIONS
@function weight($weight__name) {
  @return map-get($font__weights, $weight__name);
}

// ALL FONT WEIGHTS
$font__weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

// ALL FONT COLORS
$primary: #3d89e9;
$primaryHover: #1f7afd;
$darkBlue: #15181f;
$grey: #f6f7f9;
$mainWhite: #ffffff;
$white: #dbffff;
$blackLight: #898b8e;
$lightGreen: #23F0DC;
$red: #F1622F;
$boxShadow: #a59b9730;
$font-family: "Poppins", san-serif;

// BUTTONS
.btn {
  font-size: 14px !important;
  font-weight: weight(medium) !important;
  padding: 10px 52px !important;
  font-family: $font-family !important;
  border-radius: 3px;

  &__primary {
    background-color: $primary !important;
    color: $mainWhite !important;
  }
}

// GLOBAL
$max-width: 1040px;

:root {
  font-size: 8px;
  font-weight: weight(regular);
  font-family: $font-family;
};

.container {
  max-width: $max-width;
  margin: auto;
}

// TYPOGRAPHY
h1 {};
h2 {
  font-size: 3rem;
  font-family: $font-family;
  font-weight: weight(regular);
};
h3 {};

.MuiInputBase-input {
  font-family: $font-family !important;
  color: $darkBlue !important;
  font-size: 2rem !important;
}