@import "../../styles/base";

.navbar {
    // height: 80px;
    padding: 7px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content-left {
        img {
            max-width: 120px;
        }
    }

    &__content-right {
        display: flex;
        align-items: center;

        // INCREASE THE FONT-SIZE OF THE ICONS
        svg.MuiSvgIcon-root {
            font-size: 25px;
        }

        .navbar__content-cart {
            display: flex;
            align-items: center;
            margin-right: 20px;

            &-counter {
                background-color: $primary;
                color: $white;
                padding: 5px;
                border-radius: 50%;
                font-size: 10px;
                margin-left: -10px;
                margin-top: -15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}