@import "../../styles/base";

.sidebar {
  background-color: $white;
  // padding-top: 10px;

  &__drawer {
    min-width: 250px !important;

    .MuiDrawer-paperAnchorRight {
      left: auto;
      right: 0;
      width: 250px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 7px;
      padding-right: 30px;

      // INCREASE THE FONT-SIZE OF THE ICONS
      svg.MuiSvgIcon-root {
        font-size: 25px;
        color: $darkBlue !important;
        cursor: pointer;
      }

      &-navigation {
        margin-top: 14px;
        padding-right: 14px;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: $darkBlue;

        ul {
          margin-top: 8rem;
            li {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                h2 {
                  font-size: 18px !important;
                  color: $blackLight;
                }

                .sidebar__color-box {
                  width: 60px;
                  height: 30px;
                  margin-left: 2rem;
                  border-radius: 5px;
                  background-color: $primary;
                }
            }
        }
      }
    }
  }
}
