@import "../../styles/base";

.search__box {
    background-color: $grey;
    border-radius: 4px;
    border: 1px solid $darkBlue;
    height: 29px;
    padding: 5px;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        align-items: center;

        // INCREASE THE FONT-SIZE OF THE ICONS
        svg.MuiSvgIcon-root {
            // font-size: 25px;
        }
    }
}